<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50685434499-u8st2njjpk4bpemhcg0sec9tcisfm1pq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50685434499-u8st2njjpk4bpemhcg0sec9tcisfm1pq</string>
	<key>API_KEY</key>
	<string>AIzaSyCLp-yixkcrRXdWtVcPZ9GpQqt9eFAjY18</string>
	<key>GCM_SENDER_ID</key>
	<string>50685434499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.io.turiba</string>
	<key>PROJECT_ID</key>
	<string>turiba-18387</string>
	<key>STORAGE_BUCKET</key>
	<string>turiba-18387.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50685434499:ios:a6736d9d6db3c7f01e59b6</string>
</dict>
</plist>